* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

ul,
ol,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: skyblue;
  --color-secondary: #e2a522;
  --white: white;
}

cite {
  color: white;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
}

h1 {
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
  color: white;
}

h2 {
  color: var(--color-secondary);
  font-size: 2.2rem;
  font-family: "Poppins", sans-serif;
}
h3 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  letter-spacing: 0.05rem;
}

.yellow__color {
  color: var(--color-secondary);
}

p {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.color__primary {
  background-color: #3e3a4d;
}

.link {
  text-decoration: none;
  transition: 0.3s;
}

.link:hover {
  text-decoration: underline;
}

.container {
  width: 100%;
}

.container__fluid {
  width: 80%;
  margin: auto;
}

.yellow__link {
  font-family: "Poppins", sans-serif;
  color: var(--color-secondary);
}

.yellow__numbers {
  font-size: 4rem;
  color: var(--color-secondary);
}

nav {
  width: 80%;
  height: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  justify-content: flex-end;
  font-family: "Poppins", sans-serif;
}

nav a {
  padding: 0.5rem;
}

.navigation__links a {
  color: rgb(226, 165, 34);
  transition: 0.4s;
}

.navigation__links a:hover {
  color: white;
  padding-right: 1.6rem;
}

.intro__text {
  font-size: 1.8rem;
}

.intro__text-large {
  font-size: 5.5rem;
}

.small__link {
  color: var(--color-secondary);
  font-family: sans-serif;
  display: flex;
  gap: 1rem;
  padding-top: 1.2rem;
}

.small__link li {
  list-style-type: none;
}

.small__link a {
  color: white;
  display: inline-block;
  padding: 0.5rem;
  background-color: grey;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.small__link a:hover {
  background-color: var(--color-secondary);
  transform: translateY(-5px);
}

.header__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  height: 50vh;
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
}

/*  Intro Section  */

.intro {
  width: 100%;
  background-color: #2c2937;
}

.intro__content {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  padding: 5rem 0;
  grid-gap: 2.5rem;
}

.intro__content__headline {
  color: white;
  font-size: 2.3rem;
}

.intro__content__copy {
  color: white;
  font-weight: 200;
}

/*  Key Skills */

.keyskills__content {
  color: white;
  display: flex;
  gap: 2rem;
  list-style-type: none;
  background-color: #3e3a4d;
  flex-wrap: wrap;
}

.icons {
  width: 20px;
  height: 20px;
}

.keyskills__content div {
  width: 300px;
  height: 280px;
  background-color: var(--color-secondary);
  display: flex;
  align-items: flex-end;

  padding: 0 0 2rem 2rem;
  font-size: 1.7rem;
  font-family: "Poppins", sans-serif;
  position: relative;
  top: -40px;
  left: 100px;
  box-shadow: 2px 2px 2px #b5afaf;
}

.skillset {
  background-color: #3e3a4d;
  width: 100%;
  padding: 4rem 0;
}

.skillset__container {
  width: 80%;
  margin: auto;
  background-color: white;
}

.skillset__list {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  justify-content: space-evenly;
  padding: 4rem 0;
  font-size: 2.3rem;
  font-family: "Poppins", sans-serif;
  flex-wrap: wrap;
}

.skillset__list li:after {
  content: "";
  display: block;
  max-width: 25%;
  border-bottom: 0.12em solid var(--color-secondary);
}

.work {
  width: 100%;
  background-color: #2c2937;
}

.work__container {
  width: 80%;
  margin: auto;
  padding: 4rem 0;
}

.work__headline {
  text-align: center;
  font-size: 3rem;
}

.work__cv {
  padding-top: 4rem;
  display: flex;
  gap: 3rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.work__cv ul {
  background: #3e3a4d;
  list-style-type: none;
  width: 350px;
  padding: 1.2rem 1rem;
  color: white;
  font-family: "Poppins", sans-serif;
}

.work__cv ul li:first-child {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  color: var(--color-secondary);
}

footer {
  background-color: var(--color-secondary);
}

.footer__items {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: white;
  align-items: center;
  min-height: 100px;
  font-family: "Poppins", sans-serif;
}

.footer__items a {
  color: white;
  transition: 0.3s;
}

.footer__items a:hover {
  color: #2c2937;
}
